:root {
  --primary-dark-cyan: hsl(185, 75%, 39%);
  --primary-very-darkBlue: hsl(229, 23%, 23%);
  --primary-dark-grayishBlue: hsl(227, 10%, 46%);
  /* Nuetral */
  --dark-gray: hsl(0, 0%, 59%);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  background: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-color: var(--primary-dark-cyan);
  color: var(--primary-dark-grayishBlue);
  height: 100vh;
}

h2,
h3 {
  color: var(--primary-very-darkBlue);
  font-size: 1.8rem;
}

h3 {
  margin-bottom: 0.2rem;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* profile */
.profile {
  width: 325px;
  height: 374px;
  border-radius: 15px;
  overflow: hidden;
}

.profile__header {
  height: 140px;
  background: url(images/bg-pattern-card.svg);
  position: relative;
}

.profile__image {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  border: 5px solid #fff;
  position: absolute;
  bottom: -48px;
  right: 114.5px;
}

.profile__content {
  background: #fff;
  text-align: center;
  height: 100%;
  padding-top: 50px;
}

.profile__name {
  display: inline-block;
  margin-right: 1rem;
  /* margin-bottom: 1.6rem; */
}

.profile__city {
  font-size: 1.4rem;
  margin-top: 0;
}

.profile__age {
  font-size: 1.8rem;
}

.footer {
  border-top: 1px solid var(--dark-gray);
  display: flex;
  justify-content: space-around;
  margin-top: 2.4rem;
}

.footer__text {
  font-size: 1rem;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .profile {
    width: 350px;
  }

  .profile__image {
    right: 127px;
  }
}
